<header id="header" class="fade-in">
    <div class="container flex nav">
        <div class="brand">Giovanni Uguccioni</div>
        <nav class="flex nav-menu">
            <a href="#work">Lavori</a>
            <a href="#about">Chi sono</a>
            <a href="#services">Servizi</a>
            <a href="#contacts">Contatti</a>
            <a class="cta" href="#talk">Scrivimi</a>
        </nav>
    </div>
</header>
